<%- include('partials/header', { title: 'Каталог' }) %>

<div class="container">
    <h1 class="mt-5">Каталог игрушек 🧸</h1>

    <div class="row">

        <!-- Товар 1 -->
        <div class="col-md-4 mt-4">
            <div class="card">
                <img src="/img/pic.jpg" class="card-img-top" alt="Мишка">
                <div class="card-body">
                    <h5 class="card-title">Мишка Тедди</h5>
                    <p class="card-text">Цена: 25€</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>

        <!-- Товар 2 -->
        <div class="col-md-4 mt-4">
            <div class="card">
                <img src="/img/pic.jpg" class="card-img-top" alt="Зайка">
                <div class="card-body">
                    <h5 class="card-title">Зайка</h5>
                    <p class="card-text">Цена: 20€</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>

        <!-- Товар 3 -->
        <div class="col-md-4 mt-4">
            <div class="card">
                <img src="/img/pic.jpg" class="card-img-top" alt="Кукла">
                <div class="card-body">
                    <h5 class="card-title">Кукла Аня</h5>
                    <p class="card-text">Цена: 30€</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>

        <!-- Товар 4 -->
        <div class="col-md-4 mt-4">
            <div class="card">
                <img src="/img/pic.jpg" class="card-img-top" alt="Мини кот">
                <div class="card-body">
                    <h5 class="card-title">Мини котик</h5>
                    <p class="card-text">Цена: 12€</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include('partials/footer') %>