<%- include('partials/header', { title: 'Amigurumi Nest' }) %>
<div class="conteiner">
    <div class="row">
        <div class="col-md-6 text-history">
            <h1>Почему "Amigurumi Nest"?</h1>
                <p>Каждая игрушка создаётся вручную, поэтому срок изготовления составляет от 3 до 7 рабочих дней в зависимости от сложности изделия и текущей загруженности.</p>
        </div>

        <div class="col-md-6 img-history">
            <img src="img/pic.jpg" alt="Amigurumi Nest">
            <img src="img/pic.jpg" alt="Amigurumi Nest">
            <img src="img/pic.jpg" alt="Amigurumi Nest">
            <img src="img/pic.jpg" alt="Amigurumi Nest">
        </div>
    </div>

    <div class="row history">
        <h1>История</h1>
        <div class="col-md-6 img-history-block">
            <img src="img/pic.jpg" alt="Amigurumi Nest">
            <img src="img/pic.jpg" alt="Amigurumi Nest">
            <img src="img/pic.jpg" alt="Amigurumi Nest">
        </div>

        <div class="col-md-6 text-history-block">           
            <p>Оплата осуществляется в размере 100% стоимости товара после подтверждения заказа.</p>
        </div>
    </div>
</div>
<%- include ('partials/footer') %>