<%- include('partials/header', { title: 'Amigurumi Nest' }) %>
<div class="conteiner">
    <div class="row info">
        <div class="mb-5" >
            <h1>Доставка</h1>
            <p>Каждая игрушка создаётся вручную, поэтому срок изготовления составляет от 3 до 7 рабочих дней в зависимости от сложности изделия и текущей загруженности.
                <br> 
                <br>После завершения работы заказ передаётся в службу доставки. Доставка осуществляется через почтовые автоматы Omniva, Venipak и SmartPosti.
                <br> 
                <br>Стоимость доставки оплачивает клиент при оформлении заказа.
                <br>
                <br>Сроки доставки зависят от выбранного способа и региона получения.После отправки заказа вы получаете информацию для отслеживания.</p>
        </div>

        <div class="mb-5" >
            <h1>Оплата</h1>
            <p>Оплата осуществляется в размере 100% стоимости товара после подтверждения заказа. 
                <br> 
                <br>Мы работаем по предоплате, чтобы гарантировать наличие товара и своевременную отправку.
                <br> 
                <br>После оформления заказа с вами свяжется продавец в течение 2–3 рабочих дней для уточнения деталей и подтверждения заказа. </p>
                <h3>Важные моменты:</h3>
                <p>
                    <ul>
                        <li>Указывайте действующий номер телефона при оформлении заказа, чтобы мы могли с вами связаться.</li>
                        <li>После подтверждения заказа вы получите реквизиты для оплаты:</li>
                        💳 Перевод на банковский счёт
                        <br>📩 Оплата по выставленному счёту (по запросу)
                    </ul>
                </p>
        </div>

        <div class="mb-5" >
            <h1>Возврат и обмен</h1>
            <p>Поскольку все наши игрушки изготавливаются вручную и уникальны, мы не принимаем возврат или обмен товаров.
            <br> 
            <br>Каждая игрушка создаётся с любовью и вниманием к деталям. При оформлении заказа важно выбрать понравившийся цвет, чтобы ваша игрушка радовала именно вас.
            <br> 
            <br>Мы всегда готовы ответить на ваши вопросы перед заказом, чтобы вы точно получили именно то, что хотите.
            </p>
        </div>

        <div class="mb-5">
            <h1>Контакты</h2>
                <p>Остались вопросы? Связаться с нами можно через наши социальные сети и мессенджеры:</p>
                    <ul class="list-unstyled">
                        <li><a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i> Instagram</a></li>
                        <li><a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i> Facebook</a></li>
                        <li><a href="https://t.me/" target="_blank"><i class="bi bi-telegram"></i> Telegram</a></li>
                    </ul>
        </div>
    </div>
</div>

<%- include ('partials/footer') %>