<%- include('partials/header', { title: 'Amigurumi Nest' }) %>

<div class="container">
    <h1 class="mt-5">Топ 3 самых популярных игрушек на сайте</h1>
    <div class="row">
        <div class="col-md-4 top3 mt-4">
            <img src="img/pic.jpg" alt="Amigurumi Nest">
            <h2>Bunny Amigurumi</h2>
            <p>Подробнее</p>
        </div>
        <div class="col-md-4 top3 mt-4">
            <img src="img/pic.jpg" alt="Amigurumi Nest">
            <h2>Bunny Amigurumi</h2>
            <p>Подробнее</p>
        </div>
        <div class="col-md-4 top3 mt-4">
            <img src="img/pic.jpg" alt="Amigurumi Nest">
            <h2>Bunny Amigurumi</h2>
            <p>Подробнее</p>
        </div>
    </div>
</div>
<%- include ('partials/footer') %>